<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAUTH-GO</title>
</head>
<body>
    <div class="container">
        <form action="/">
          <div class="row">
            <h2 style="text-align:center">Login with Social Media or Manually</h2>

            <div style="text-align:center" class="col">
      
              <input type="text" name="username" placeholder="Username" required><br><br>
              <input type="password" name="password" placeholder="Password" required><br><br>
              <input type="submit" value="Login">
            </div>
            <br>
      
            <div style="text-align:center" class="col">
              <a href="/auth/google/login" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google
              </a>
              <br><br>
              <a href="/auth/github/login" class="google btn">
                <i class="fa fa-github fa-fw"></i> Login with github
              </a>
            </div>
      
            
      
          </div>
        </form>
      </div>
      
      <div class="bottom-container">
        <div class="row">
          <div class="col">
            <a href="#" style="color:white" class="btn">Sign up</a>
          </div>
          <div class="col">
            <a href="#" style="color:white" class="btn">Forgot password?</a>
          </div>
        </div>
      </div>
</body>
</html>